.newUserForm{
    input{
          text-align: right;
    }
  
}
.form-group.top{
    margin-top:15px !important;
}
.jumbotron{
    padding-top: 10px !important;

}
h3{
    text-shadow: 2px 2px #6186825e;

}

::ng-deep .ui-state-default{
    margin-right: 5px !important;
}


input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}