.btn-more-details {
	font-weight:bold;
	font-size: 12px;
	margin:0px;
	padding:0px;
	width: 100px;
	height: 30px;
	padding-top: 5px;
		border: 1px dotted white;
	border-radius: 20px;
}

span.price{
	font-size: 20px;
    font-weight: bold;
}

.pad0
{
padding:0px;
}
.bg_black{
background:#000;
padding: 5px;
margin-bottom: 10px;
}
.block-blog {
	width: 100%;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(226, 223, 223, 0.61);
}
.transperent_block {
	padding: 0px;
	position: relative;
	overflow: hidden;
	height: 200px;
	border: 2px dotted #5bc3bd;
}
.transperent_block img {
width:100%;
	height: 100%;
}
.transperent_block:hover .black_hover_block {
	opacity: 1;
	transform: translateY(-150px);
	-webkit-transform: translateY(-150px);
	-moz-transform: translateY(-150px);
	-ms-transform: translateY(-150px);
	-o-transform: translateY(-150px);
}
.transperent_block img {
	z-index: 4;
}
.transperent_block .black_hover_block {
	position: absolute;
	bottom: 6%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	width: 100%;
}
.transperent_block:hover .black_hover_block, .black_hover_block:hover {
	bottom: 33%;
	transition: all 0.3s ease-in-out;
}
.transperent_block .blur {
	background-color: rgba(0,0,0,0.7);
	height: 400px;
	z-index: 5;
	position: absolute;
	width: 100%;
}
.transperent_block .black_hover_block_text {
	z-index: 10;
	color: #fff;
	position: absolute;
	height: 400px;
	text-align: center;
	top: 18px;
	width: 100%;
	
}
	.block_header{
		margin-top:5px;}
		.black_hover_block_text i:hover {
	color: #134477;
}
span.fa-clock{
	font-size: 25px;
}

.black_hover_block_text i {
    padding: 5px 5px;
    font-size: 18px;
    color: #fff;
}
.black_hover_block_text i:hover {
color:#ffffffa6}

.black_hover_block_text:hover .titl-h5 {
    background-color: #1d7fe4cc;
}
.titl-h5 {
    border-top: 2px solid #134477;
    border-bottom: 2px solid #134477;
    padding: 10px;
    margin-top: 0px;
    line-height: 20px;
	text-transform:uppercase;
	padding-bottom: 5px;
	background: #1d7fe4cc;
	margin-bottom: 0px;
	font-size: 15px;
font-weight: bold;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;
}
.btn-pink {
    background-color: #134477;
    color: #fff;
    border: 4px solid #134477;
}
.btn-pink:hover{
color: #fff;
    background-color: #134477;
    border: 4px solid #134477;
}
.btn-sm {
    margin-top: 10px;
}
.black_hover_block_text li:hover {
    background-color: #1d7fe4cc;
    cursor: pointer;
    color: #fff;
    width: 33.34%;
}
.black_hover_block_text li {
    list-style: none;
    border: none !important;
}

.black_hover_block_text p {
	font-size: 15px;
	margin:10px;
	margin-top: 5px;
	border: none !important;
	
	display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.pad0 span{
	color:white;
	font-size: 12px;
}

.notifications{
	input{
		background-color: white;
		text-align: right;
		margin-left: 10px;
		width: 205px;
    height: 10px;
    font-size: 12px;
	}
	button{
		border-radius: 20px;
	}
}