<!-- <button mat-fab shareButton="facebook" [style.backgroundColor]="share.prop.facebook.color">
  <fa-icon [icon]="share.prop.facebook.icon" size="lg"></fa-icon>
</button>
<button mat-fab shareButton="twitter" [style.backgroundColor]="share.prop.twitter.color">
  <fa-icon [icon]="share.prop.twitter.icon" size="lg"></fa-icon>
</button>
<button mat-fab shareButton="linkedin" [style.backgroundColor]="share.prop.linkedin.color">
  <fa-icon [icon]="share.prop.linkedin.icon" size="lg"></fa-icon> -->
