<ul class="nav-list list-inline">
  <li><a href="#"><img
        src="/assets/images/camera.svg"><span>מוצרי חשמל</span></a>
  </li>
  <li><a href="#"><img
        src="/assets/images/chair.svg"><span>ריהוט וכלי בית</span></a>
  </li>
  <li><a href="#"><img  
        src="/assets/images/baby-boy.svg"><span>לתינוק ולילד</span></a>
  </li>
  <li><a href="#"><img
        src="/assets/images/gift-card.svg"><span>שוברי קניה</span></a>
  </li>
  <li><a href="#"><img
        src="/assets/images/boy.svg"><span>המוצרים שלי </span></a>
  </li>
</ul>
<ul>
  <li><a href="#"><span>כסאות לרכב</span></a></li>
  <li><a href="#"><span>עגלות</span></a></li>
  <li><a href="#"><span>ריהוט לתינוקות</span></a></li>
  <li><a href="#"><span>צעצועים</span></a></li>
</ul>