
a {text-decoration: none;
	img{
		width: 50px;
	}
}
h1 {
	font-size: 40px;
  	font-weight: 700;
	margin-bottom: 20px;
  	margin-top: 20px;
}
h2 {
	font-size: 15px;
  	font-weight: 600;
	margin-bottom: 30px;
  	margin-top: 10px;
}
.container {
	margin: auto;
	width: 940px;
}
.ul-reset {
	padding-left: 0;
   margin-top: 0;
   margin-bottom: 0;
	list-style: none;
}



/* #Navigation Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
	background: #424242;
	font-size: 0;
	position: relative;
	margin-bottom: 10px;
}
nav > ul > li {
	display: inline-block;
  	font-size: 14px;
  	padding: 0 15px;
  	position: relative;
}
nav > ul > li:first-child {padding-left: 0;}
nav > ul > li:last-child {padding-right: 0;}
nav > ul > li > a {
	color: #fff;
  	display: block;
  	position: relative;
  	padding: 5px 0;
  	border-bottom: 3px solid transparent;
}
nav > ul > li:hover > a {
	color: #69aae0; 
  	border-bottom: 3px solid #69aae0;
}



/* #Mega Menu Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.mega-menu {
	background: #b9b3b3e3;
  	display: none;
  	left: 0;
  	position: absolute;
  	text-align: left;
    width: 100%;
    z-index: 11;
}
.mega-menu h4 {color: #444;}
.mega-menu ul {
	float: right;
	text-align: right;
  	margin-bottom: 20px;
  	margin-right: 40px;
  	width: 205px;
}
.mega-menu ul:last-child {margin-right: 0;}
.mega-menu a {
	border-bottom: 1px solid #2BBBAD;
  	color: #1d7fe4cc;
  	display: block;
		padding: 10px 0;
		font-weight: bold;
}
.mega-menu a:hover {color: #2d6a91;}



/* #Droppable Class Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.droppable {position: static !important;}
.droppable > a:after {
	content: "\f107";
  	font-family: FontAwesome;
  	font-size: 12px;
  	padding-left: 6px;
  	position: relative;
  	top: -1px;
}
.droppable:hover .mega-menu {display: block;}



/* #Browser Clearfix
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.cf:before,
.cf:after {
	content: " "; /* 1 */
   display: table; /* 2 */
}
.cf:after {clear: both;}

.filter{
	direction: rtl;
	text-align: right;
	background-color: #d8e6e5;
	margin-bottom: 10px;

	.filter-item{
		margin-left: 50px;
	}

	.clear{
		color: #007ad9;
		font-weight: bold;
	}

	.range_price{
		display: inline-block;
		.bold{
			font-weight: bold;
		}
	}

	.free_text{
		width: 200px;
	}

	.max_price{
		margin-left:10px;
	}

	.min_price{
		margin-right:10px;
	}
}

::ng-deep .range_date input{

	padding-bottom: 0px;
}