<nav>
      <ul class="container ul-reset">
            <li class='droppable' *ngFor="let category of this.categories">
                  <a href='#'>
                        {{category.name}}</a>
                  <div class='mega-menu'>
                        <div class="container cf">
                              <ul class="ul-reset" *ngFor="let sub1 of category.subMenu">
                                    <h4>{{sub1.name}}</h4>
                                    <li *ngFor="let sub2 of sub1.subMenu">
                                          <a href='#'>{{sub2.name}}</a>
                                    </li>
                              </ul>
                        </div>
                  </div>
            </li>
      </ul>
</nav>