  <div class="transperent_block " style="background-color:#cccccc;">
    <img src="{{deal.Img}}" class="img-responsive"
      alt="">

    <div class="black_hover_block">
      <div class="blur"></div>
      <div class="black_hover_block_text">
          <h5 class="titl-h5">{{deal.Name}}</h5>
        <ul class="pad0 bg_black">
          <li class="col-sm-4 float-left pad0"> 23 <span class="fa fa-comments"></span></li>
          <li class="col-sm-4 pad0 float-left"> 3 <span class="fa fa-thumbs-o-up"></span></li>
          <li class="col-sm-4 pad0 float-left"> 103 <span class="fa fa-share-alt"></span></li>
          <div class="clearfix"></div>
        </ul>

        
        <p>{{deal.Description}}</p>
        <a class=" btn btn-default btn-sm btn-pink btn-more-details" href="#">לפרטים</a>
        <div class="block_header">
          <a href="#"><i class="fa fa-facebook" data-toggle="tooltip" title="Facebook"
              data-original-title="Facebook"></i></a>
          <a href="#"><i class="fa fa-twitter" data-toggle="tooltip" title="Twitter"
              data-original-title="Twitter"></i></a>
          <a href="#"><i class="fa fa-google-plus" data-toggle="tooltip" title="Google"
              data-original-title="Google Plus"></i></a>
          <a href="#"><i class="fa fa-youtube" data-toggle="tooltip" title="Youtube"
              data-original-title="Youtube"></i></a>
          <a href="#"><i class="fa fa-github" data-toggle="tooltip" title="Github" data-original-title="Github"></i></a>
          <a href="#"><i class="fa fa-linkedin" data-toggle="tooltip" title="Linkedin"
              data-original-title="Linkedin"></i></a>
          <a href="#"><i class="fa fa-flickr" data-toggle="tooltip" title="Flickr" data-original-title="Flickr"></i></a>
          <a href="#"><i class="fa fa-skype" data-toggle="tooltip" title="Skype" data-original-title="Skype"></i></a>
        </div>

      </div>
    </div>