@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

.webuy-title{
    font-weight: bold;
    font-family: cursive;
    font-size: 25px;
}

.navbar {
    background-color: #2BBBAD !important;
    margin-bottom: 10px !important;
}

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.navbar a {
    color: white !important;
}