<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>התחברות</h3>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="username">שם משתמש</label>
                        <input type="text" formControlName="username" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">חובה להזין שם משתמש</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">סיסמא</label>
                        <input type="password" formControlName="password" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">חובה להזין סיסמא</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">התחברות</button>
                        <a [routerLink]="['../sign-up']" class="btn btn-link">הרשמה</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>