.loginForm{
    direction: rtl;
}
.form-group {
   
    input{
        margin-bottom: 0px !important;
        text-align: right;
    }
    
}
.form-group.top{
    margin-top:15px !important;
}
.jumbotron{
    padding-top: 10px !important;

}
.addTitle{
    margin-bottom: 0px;
}
.ui-button{
    background-color: #2BBBAD !important;
}
h3{
    text-shadow: 2px 2px #6186825e;

}