<p-toast position="center" (onClose)="redirectToHome()"></p-toast>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3 class="addTitle">הוספת דיל</h3>
        <form class="addForm" [formGroup]="createDealForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input placeholder="שם מוצר" type="text" formControlName="name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">חובה להזין שם מוצר</div>
            </div>
          </div>
          <div class="form-group">
            <input placeholder="תאור מוצר" type="text" formControlName="description" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
              <div *ngIf="f.description.errors.required">חובה להזין תאור מוצר</div>
            </div>
          </div>
          <div class="form-group">
            <input placeholder="מחיר התחלתי" type="number" formControlName="startPrice" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.startPrice.errors }" />
            <div *ngIf="submitted && f.startPrice.errors" class="invalid-feedback">
              <div *ngIf="f.startPrice.errors.required">חובה להזין מחיר התחלתי</div>
            </div>
          </div>
          <div class="form-group dueDate">
            <!-- <input placeholder="תאריך סיום" type="text" formControlName="dueDate" class="dueDate form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.dueDate.errors }" /> -->
            <p-calendar [(ngModel)]="dueDateCal" formControlName="dueDate" 
             dateFormat="dd/mm/yy"[minDate]="minDate" [maxDate]="maxDate" [defaultDate]="minDate" placeholder="תאריך סיום"></p-calendar>
          
            <!-- <div *ngIf="submitted && f.startPrice.errors" class="invalid-feedback">
              <div *ngIf="f.startPrice.errors.required">חובה להזין מחיר התחלתי</div>
            </div> -->
          </div>
          <div class="form-group">
            <select (change)="onSelect1($event.target)" formControlName="category1">
              <option value="0">--בחר--</option>
              <option *ngFor="let c1 of Categories1" [ngValue]="c1">{{c1.name}}</option>
            </select>
            <select (change)="onSelect2($event.target)" formControlName="category2">
              <option value="0">--בחר--</option>
              <option *ngFor="let c2 of Categories2" [ngValue]="c2">{{c2.name}}</option>
            </select>
            <select formControlName="category3">
              <option value="0">--בחר--</option>
              <option *ngFor="let c3 of Categories3" [ngValue]="c3">{{c3.name}}</option>
            </select>
          </div>
          <div class="form-group top">
            <p-fileUpload customUpload="true" (uploadHandler)="uploadFile($event)" multiple="multiple" accept="image/*"
              [auto]="true">
            </p-fileUpload>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">צור קבוצה</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>