.addForm{
    direction: rtl;
}
.dueDate{
    text-align: right;
    margin-bottom:15px !important;
}

.form-group {
    select{
        margin-left: 15px;
        width: 132px;
    }
    input{
        margin-bottom: 0px !important;
    }
    
    margin-bottom: 0px !important;
}
.form-group.top{
    margin-top:15px !important;
}
.jumbotron{
    padding-top: 10px !important;

}
.addTitle{
    margin-bottom: 0px;
}
.ui-button{
    //background-color: #2BBBAD !important;
}
h3{
    text-shadow: 2px 2px #6186825e;

}

::ng-deep .dueDate input{
    padding-right: 0px;
    margin-bottom: 20px;
}