<p-toast position="center"></p-toast>
<div class="card" *ngIf="deal && bidHistory">
  <div class="container-fliud">
    <div class="wrapper row">
      <div class="preview col-md-6">
        <p-galleria [images]="images" panelWidth="500" panelHeight="313" [showCaption]="true"></p-galleria>
      </div>
      <div class="details col-md-6">
        <h3 class="product-title">{{deal.name}}</h3>
        <p class="product-description">{{deal.description}}</p>
        
        
        <h4 class="current_price">
            <i class="fas fa-shekel-sign"></i>
            <span> מחיר נוכחי: </span>  
            <span class="price">{{deal.currentPrice}}</span>
            
          </h4>
        
        <div class="start_price">
            <i class="fas fa-shekel-sign"></i>
         <span> מחיר התחלתי: </span>
          <span class="price">{{deal.startPrice}}</span>
        </div>

        <p class="vote">
          חברים משתתפים ברכישה זו
          <strong>{{deal.inCount}}</strong>
        </p>

        <!-- <h4 class="price">הדיל יסגר בעוד: <span id="timeLeft"></span></h4> -->
        <div class="price">הדיל יסגר בתאריך: <span>{{this.deal.dueDate| date: 'dd/MM/yyyy'}}</span></div> 

        <!-- <details>
            <summary>הצעות קודמות</summary> -->
            <!-- <div class="history">
              <a (click)="show = !show">
                <i class="fa fa-history" aria-hidden="true"></i>
                <span> היסטורית מחירים </span></a>
                
              </div> -->
              <!-- <div class="bidHistory" *ngFor="let bid of bidHistory">
                <span class="bidHistory bid_name">{{bid.companyName}}</span>
                <span class="bidHistory bid_date">{{bid.date | date: 'dd/MM/yyyy-HH:mm'}}</span>
                <span class="bidHistory bid_price">{{bid.price}}</span>
                
              </div> -->

           
            
          <!-- </details> -->

        <div class="action">
          
          <button *ngIf="isBuyer" class="add-to-cart btn btn-default" type="button"
            (click)="AddUserToDeal('addMe',deal);">צרף אותי לקבוצה</button>

            <span *ngIf="priceTxt > maxPrice" class="alert alert-danger">המחיר המקסימלי הוא {{maxPrice}}</span>

          <input *ngIf="isSupplier && showPrice" type="number" min="0" max="{{maxPrice}}" #name style="width: 100px;"
            [(ngModel)]="priceTxt">
          
            <button *ngIf="isSupplier" class="add-to-cart btn btn-default" [disabled]="priceTxt > maxPrice" type="button"
            (click)="AddBid();">{{this.btnPriceText}}</button>

          <button *ngIf="isConnected" class="like btn btn-default" type="button"
            (click)="AddUserToDeal('like',deal);"><span class="fa fa-heart"></span></button>
            <button (click)="show = !show" class="like btn btn-default" type="button"><i class="fa fa-history" aria-hidden="true"></i></button>

          <button *ngIf="isUnConnected" class="like btn btn-default" type="button" (click)="login();"><span
              class="fa fa-sign-in"></span>התחבר כדי להשתתף בדיל</button>
        </div>
        <table [hidden]="!show">
            <tr class="bidHistory" *ngFor="let bid of bidHistory">
                
                <td class="bid_date">{{bid.date | date: 'dd/MM/yyyy-HH:mm'}}</td>
                <td class="bid_price">{{bid.price}}</td>
                <td class="bid_name">{{bid.companyName}}</td>
            </tr>
          </table>
      </div>
    </div>
  </div>
</div>