<div class="card" *ngIf="deal && bidHistory">
  <div class="container-fliud">
    <div class="wrapper row">
      <div class="preview col-md-6">
        <p-galleria [images]="images" panelWidth="500" panelHeight="313" [showCaption]="true"></p-galleria>
      </div>
      <div class="details col-md-6">
        <h3 class="product-title">{{deal.name}}</h3>
        <p class="product-description">{{deal.description}}</p>
        <h4 class="price">מחיר נוכחי: 
            <i class="fas fa-shekel-sign"></i><span>{{deal.currentPrice}}</span></h4>
        <details>
          <summary>הצעות קודמות</summary>
          <div *ngFor="let bid of bidHistory">
            <span class="bidHistory">{{bid.companyName}}</span>
            <span class="bidHistory">{{bid.price}}</span>
            <span class="bidHistory">{{bid.date | date: 'dd/MM/yyyy-HH:mm:ss'}}</span>
          </div>
        </details>

        <h4 class="price">מחיר התחלתי:
          <i class="fas fa-shekel-sign"></i><span>{{deal.startPrice}}</span>
        </h4>
        <p class="vote">
          חברים משתתפים ברכישה זו
          <strong>{{deal.inCount}}</strong>
        </p>
        <!-- <h4 class="price">הדיל יסגר בעוד: <span id="timeLeft"></span></h4> -->
        <h4 class="price">הדיל יסגר בעוד: <span>{{this.deal.dueDate}}</span></h4> 
        <div class="action">
          
          <button *ngIf="isBuyer" class="add-to-cart btn btn-default" type="button"
            (click)="AddUserToDeal('addMe',deal.dealId);">צרף אותי לקבוצה</button>

            <span *ngIf="priceTxt > maxPrice" class="alert alert-danger">המחיר המקסימלי הוא {{maxPrice}}</span>

          <input *ngIf="isSupplier && showPrice" type="number" min="0" max="{{maxPrice}}" #name style="width: 100px;"
            [(ngModel)]="priceTxt">
          
            <button *ngIf="isSupplier" class="add-to-cart btn btn-default" [disabled]="priceTxt > maxPrice" type="button"
            (click)="AddBid();">{{this.btnPriceText}}</button>

          <button *ngIf="isConnected" class="like btn btn-default" type="button"
            (click)="AddUserToDeal('like',deal.dealId);"><span class="fa fa-heart"></span></button>

          <button *ngIf="isUnConnected" class="like btn btn-default" type="button" (click)="login();"><span
              class="fa fa-sign-in"></span>התחבר כדי להשתתף בדיל</button>
        </div>
      </div>
    </div>
  </div>
</div>